html{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

body{
  font-size: medium;
  grid-area: 1 / 2 / 2 / 3;
}

td, th{
  background-color: #fff;
  padding: 4px 1ch;
}

th{
text-align: start;
}

table{
  background-color: #e3e3e3;
  border-top: 4px solid white;
  padding: 4px;
}

.controls{
  display: flex;
  justify-content: space-between;
}

td>input{
  width: calc(100% - 4px);
  padding: 0;
  border: 0;
  outline: none;
  font-size: inherit;
}

col.title{
  min-width: 30ch;
}

col.author{
  min-width: 28ch;
}

col.length{
  width: 8ch;
}

col.status{
  width: 20ch;
}

.selected{
  box-shadow: cornflowerblue 4px 0px 0px 2px, cornflowerblue -4px 0px 0px 2px;
}